:root {
  --h-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --frame-color: #ffffff;
  --bgc-color: rgba(47, 48, 58, 0.4);
}

body {
  background-color: var(--frame-color);
  color: var(--h-color);
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  margin: 0px;
}
.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}
.section {
  padding: 94px 0px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-container {
  max-width: 650px;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  background: #f5f4fa;
  border-radius: 4px;
  font-style: normal;
  line-height: 1.6;
}

.button:hover,
.button:focus {
  color: var(--frame-color);
  background-color: var(--hover-color);
}
.link,
.products-link {
  text-decoration: none;
  color: var(--h-color);
}

.link:hover,
.link:focus,
.link-address:focus,
.link-address:hover {
  color: var(--hover-color);
}
.link-address {
  fill: currentColor;
  color: var(--text-color);
}

.products-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.03em;
}
.web-nav {
  margin-right: 43px;
}
.web {
  color: var(--hover-color);
}
.nav {
  font-weight: 500;
  line-height: 1.14;
}

.link-address {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-footer {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer {
  color: var(--frame-color);
  background-color: #2f303a;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.our-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
}

.main-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgc.jpeg);
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  justify-content: center;
  text-align: center;
  padding: 200px 0px;
}
.main-section h1 {
  color: var(--frame-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.main-btn {
  color: var(--frame-color);
  background: var(--hover-color);
  line-height: 1.8;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.pict-title {
  margin-top: 94px;
}
.advantages {
  display: flex;
}
.advantages-title {
  margin-bottom: 10px;
  margin-top: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.adv-li,
.pict-li,
.ourteams-ul {
  margin-right: 30px;
}
.adv-li:last-child,
.pict-li:last-child,
.ourteams-ul:last-child,
.social-item:last-child {
  margin-right: 0;
}
.pict-list {
  display: flex;
}
.social-link {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.social-item {
  margin-top: 0px;
  margin-right: 10px;
}
.social-items {
  margin-top: 72px;
  padding-bottom: 100px;
}
.names {
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.ourteam {
  color: var(--text-color);
  line-height: 1.8;
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 0px;
}
.ourteams {
  background-color: #f5f4fa;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
.ourteams > .list {
  background-color: var(--frame-color);
}
.titles {
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}
.text {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  line-height: 1.71;
  width: 270px;
}
.products-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
}
/* не поняла что не так сделала,
наверное имелось ввиду короткая форма записи */
.products-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
  padding: 0px 24px 20px 24px;
  margin: 0px;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.products-item:nth-child(3n) {
  margin-right: 0;
}
.products-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.nav-cont {
  display: flex;
  align-items: center;
}
.nav-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  align-items: baseline;
}

.mobile {
  display: flex;
}
.nav-li:not(:last-child),
.nav-li:not(:first-child) {
  margin-right: 50px;
}
.contacts:not(:last-child) {
  margin-right: 30px;
}
.contacts {
  padding: 32px 0;
}
.icon-mail,
.icon-phone {
  margin-right: 10px;
}

.social-icon {
  display: inline-block;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: #afb1b8;
}
.social-icon:hover {
  color: var(--frame-color);
  background-color: var(--hover-color);
}

.nav .link,
.nav-cont .link-address {
  display: inline-block;
  padding: 32px 0px;
}

.ourteams-ul {
  display: flex;
}

.ourteam-item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.ourteam-item:last-child {
  margin-right: 0px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .items {
  align-items: center;
  margin-right: 9px;
}
.btn-list > .items:hover,
.btn-list > .items:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn-list .items:last-child {
  margin-right: 0px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--frame-color);
}
.our-address {
  margin-bottom: 9px;
  margin-top: 0;
}
.our-address,
.first-link {
  margin-bottom: 9px;
}
.first-link {
  display: inline-block;
}
.icon-advantages {
  display: inline-block;
  height: 120px;
  width: 270px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.icon-item {
  display: block;
  margin: 25px 100px;
}

.partners {
  display: flex;
  justify-content: center;
}

.partners-link {
  display: inline-block;
  padding: 0;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: #afb1b8;
}

.partners-link:hover,
.partners-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.footer-icon {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-svg {
  fill: var(--frame-color);
  width: 20px;
  height: 20px;
  margin: 12px;
}
.join {
  display: block;
  font-weight: 700px;
  margin-bottom: 20px;
}
.footer > .container {
  display: flex;
  align-items: center;
}
.address-item {
  margin-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.social-footer {
  display: flex;
  align-items: center;
}
